<?xml version="1.0" encoding="utf-8"?>


<configuration>
  
  

  
  
  
  
  
  
  
  
  <appSettings>


    <add key="Url1" value="http://www.executeautomation.com/site/" />
    
    <add key="Url2" value="https://demo.opencart.com/" />

    <add key="Url3" value="https://demoqa.com/checkboxradio/" />

    <add key="Url4" value="https://demoqa.com/keyboard-events-sample-form/" />

    <add key="Url5" value="https://www.testandquiz.com/selenium/testing.html" />

    <add key="Url6" value="https://demoqa.com/droppable/" />

    <add key="env" value="prod" />
    <add key="gridRun" value="Y" />

    <!---Default login credentials-->
    
    
    <add key="Browser" value="Chrome" />
    <add key="Username" value="rahul@bugzila.com" />
    <add key="Password" value="welcome" />
    
    
    
    <add key="PageLoadTimeout" value="40" />
    <add key="ElementLoadTimeout" value="2" />


    <!---UAT credentials-->


    <!---PROD credentials-->

    <!---Paths-->


    <add key="xlspath" value="" />

    <add key="chromedriver" value="" />

    <add key="iedriver" value="" />

    <add key="reportFolder" value="" />
    
    <add key="downloadfilepath" value="" />

    <add key="logFilePath" value="D:\CWorkspace\ShellWorkspace\ShellTest\Logs" />


    <!---DB credentials-->



    <add key="DBUserName" value="" />
    
    <add key="DBUserPassword" value="" />

    <add key="userName" value="" />

    <add key="password" value="" />
    
    <add key="DBServerName" value="(LocalDB)\MSSQLLocalDB" />
    
    <add key="DBServerName_Reporting" value="(LocalDB)\MSSQLLocalDB" />

    <add key="TCESReportingserverName" value="(LocalDB)\MSSQLLocalDB" />



    <add key="TCESDB" value="MyFirstDB" />

    <add key="TCESReportingDB" value="MyFirstDB" />
    
    <add key="IntegratedSecurity" value="SSPI" />
    
    <add key="PersistSecurityInfo" value="False" />
    
    
    
  </appSettings>
  
  
  
  <runtime>
  
  
  
             <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
  
  
                        <dependentAssembly>
  
  
  
                                   <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
  
  
  
                                   <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
  
  
  
                        </dependentAssembly>
  
  
  
             </assemblyBinding>
  
  
  
  </runtime>
</configuration>